<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace : 命名空间，根据namespace区分不同的sql映射文件的。暂时，这个namespace可以随意编写
如果使用的是接口式编程，对应的namespace必须是接口的全类名
-->
<mapper namespace="com.bin.hbnu.dao.TeacherMapper">

    <!--   Teacher validateTeacher(User user);-->
    <select id="validateTeacher"  resultMap="testResultMap">
        SELECT *
        FROM teacher
        WHERE loginAccount = #{loginAccount} and password = #{password}
    </select>
    <!--Integer selectTidByUser(User user);-->
    <select id="selectTidByUser" resultType="int">
         SELECT tid
        FROM teacher
        WHERE loginAccount = #{loginAccount}
    </select>
<!--
 private Integer tid;
    private String tname;
    private String course;
    private String loginAccount;
    private String password;-->
    <resultMap id="testResultMap"  type="com.bin.hbnu.bean.Teacher">
        <id column="tid" property="tid"></id>
        <result column="tname" property="tname"></result>
        <result column="course" property="course"></result>
        <result column="loginAccount" property="loginAccount"></result>
        <result column="password" property="password"></result>
    </resultMap>
</mapper>